<aside>
  <%= render 'cash_flows/form'%>
  <nav>
    <%= link_to "Accounts", accounts_path %> | 
    <%= link_to "Categories", categories_path %> | 
    <%= link_to "Settings", "" %> 
  </nav>
</aside>
