// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#left_container {
  float: left;
  min-width: 80%;
  min-height: 800px;

  table{
    width: 100%;
  }
}

div#right_container {
  min-width: 20%;

  select#cash_flow_date_1i {
    width:65px;
  }
  select#cash_flow_date_2i {
    width:100px;
  }
  select#cash_flow_date_3i {
    width:50px;
  }
  textarea#cash_flow_description {
    height: 50px;
  }
}